.wb_news .card-icon {
    max-width: 100px;
}

.wb_news-light {
    color: #fff
}

.wb_news .card {
    background-size: cover;
    background-position: center;
    min-height: 350px;
}

.wb_news .wb_news_card_crosslinks {
    min-height: unset;
    padding: 20px 20px;
}

.wb_news .card-footer {
    border: none;
    background: none;
}

.wb_news .masonry {
    column-count: 4;
    column-gap: 1rem;
}
.wb_news .masonry .card {
    display: inline-block;
    width: 100%;
    margin-bottom: 1rem;
}

.wb_news .carousel-control-prev,.wb_news .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 0;
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    border: 0;
    border-radius: 50%;
    opacity: 0.7;
    transition: opacity 0.15s ease;
}

.wb_news .carousel-control-prev:hover, .wb_news .carousel-control-next:hover {
    opacity: 1;
}

.wb_news .carousel-control-prev {
    left: 10px; /* Adjust the left position as needed */
}

.wb_news .carousel-control-next {
    right: 10px; /* Adjust the right position as needed */
}

.wb_news .wb_news-light {
    color: #fff;
}

.wb_news-userinfo {
    font-size: 0.82em;
}

.wb_news .carousel-inner {
    height: 100%;
}

.wb_news .left-panel {
    width: 50%;
    padding: 50px;
}

.wb_news .right-panel {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wb_news .image-container {
    position: relative;
}

.wb_news .image-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.wb_news .carousel-control-prev,
.wb_news .carousel-control-next {
    position: static !important;
}

.wb_news .carousel-control-prev-icon,
.wb_news .carousel-control-next-icon {
    background-color: #000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.wb_news .carousel-control-prev-icon::before,
.wb_news .carousel-control-next-icon::before {
    display: none;
}


.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #e9f2f9;
    border-color: #e9f2f9;
    color: #004085;
}
.wb_news_tabcontainer, .section-content {
    padding: 2rem;
    border-radius: .25rem;
}
.section-content .btn-primary {
    background-color: #0056b3;
    border-color: #0056b3;
}
.wb_news_tabcontainer {
    position: relative;
    width: 100%;  /* Adjust the width as needed */
}

.wb_news_tabcontainer .rounded-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #E9F0F3;
    border-radius: 20px;  /* Adjust the border radius as needed */
    z-index: -1;  /* Ensure the background is behind the content */
}

.wb_news_tabcontainer .wb_news_tabscontent {
    position: relative;
    z-index: 1;  /* Ensure the content is above the background */
    padding: 40px 20px;  /* Optional: Add padding for better spacing */
}

.nav-tabs.wb_news .nav-item {
    list-style: none;
}

.wb_news.nav-tabs {
    justify-content: center;
    width: fit-content;
    margin: auto;
    border-radius: 5px;
    padding: 3px;
    background: #E9F0F3;
    border-bottom: none;

}
.wb_news.nav-tabs .nav-link {
    margin-bottom: 1px;
    border-radius: 5px;
    color: #547086;
    font-weight: 600;
}

.wb_news .card img.wb_news-headerimage {
    border-radius: 0px;
}
.wb_news.card-body {
    adding: 20px;
}
.wb_news.nav-tabs .nav-link.active {
    background: #fff;
    color: #005C99;
}
@media (min-width: 981px) {
    .wb_news_tabcontainer .rounded-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 90%;
        height: 100%;
        background: #E9F0F3;
        border-radius: 20px;  /* Adjust the border radius as needed */
        z-index: -1;  /* Ensure the background is behind the content */
    }

    .wb_news_tabcontainer .wb_news_tabscontent {
        position: relative;
        z-index: 1;  /* Ensure the content is above the background */
        padding: 40px 20px;  /* Optional: Add padding for better spacing */
    }

    .nav-tabs.wb_news .nav-item {
        list-style: none;
    }

    .wb_news.nav-tabs {
        justify-content: center;
        width: fit-content;
        margin: auto;
        border-radius: 5px;
        padding: 3px;
        background: #E9F0F3;
        border-bottom: none;

    }
    .wb_news.nav-tabs .nav-link {
        margin-bottom: 1px;
        border-radius: 5px;
        color: #547086;
        font-weight: 600;
    }
    .wb_news.nav-tabs .nav-link.active {
        background: #fff;
        color: #005C99;
    }
}

.wb_news .profileimg {
    max-width: 30px;
    max-height: 30px;

}

.wb_news .card-square {
    width: 100%;
    padding-top: 100%;
    position: relative;
}

.wb_news .card-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}
.wb_news .card-img-top {
    height: 60%;
    width: 100%;
    object-fit: cover;
}
.wb_news .card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wb-news-container {
    max-width: 100vw;
}

.wb_news .card .card-body {
    padding: 1.25rem;
}

.wb-news-edit-single {
    position: absolute;
    z-index: 4;
}

.wb-news-edit-single .btn-outline-dark {
    background-color: #fff;
}


@media (max-width: 767.98px) {
.wb_news .card .card-body {
    padding: 0.625rem;
}
}

.wb_news_card_blog .card-body {
    display: block;
    flex-direction: column;
    justify-content: center;
    overflow-y: scroll;
}

/* Slider. */

.wb_news_slide .image-container img {
    border-bottom-left-radius: 15px;
}

/* Timeline. */
.wb-news-timeline .container-timeline {
    text-align: right;
}
.wb-news-timeline .container-timeline.right .timeline-content{
    text-align: left;
    margin: 40px;
}
.wb-news-timeline {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
}
.wb-news-timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #edf3f8;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
.wb-news-timeline .container-timeline {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}
.wb-news-timeline .container-timeline::after {
    content: attr(data-number);
    position: absolute;
    width: 90px;
    height: 90px;
    right: -45px;
    background-color: #e9f2f9;
    color: white;
    border: 4px solid #e9f2f9;
    top: 65px;
    border-radius: 50%;
    z-index: 1;
    text-align: center;
    font-size: 30px;
    line-height: 80px;
    font-weight: bold;
}
.wb-news-timeline .left {
    left: 0;
}
.wb-news-timeline .right {
    left: 50%;
}
.wb-news-timeline .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 45px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}
.wb-news-timeline .container-timeline.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}
.wb-news-timeline .right::after {
    left: -46px;
}
.wb-news-timeline .timeline-content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

.wb-news-timeline .left .circle {
    right: auto;
    left: -17px;
}

/* Timeline2. */
.wb-news-timeline2-container {
    margin-top: 50px;
}
.wb-news-timeline2 {
    position: relative;
    max-width: inherit;
    margin: 0 auto;
}
.wb-news-timeline2::before {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #e9f2f9;
    top: 0;
    bottom: 0;
    left: 78px;
    margin-left: -3px;
}
.container-timeline2 {
    display: flex;
    align-items: flex-start;
    margin-left: 20px;
    margin-bottom: 20px;
    position: relative;
    padding-left: 40px;
}
.container-timeline2::before {
    content: attr(data-number);
    position: absolute;
    width: 90px;
    height: 90px;
    top: 60px;
    left: 0;
    background-color: #e9f2f9;
    color: white;
    border: 3px solid #e9f2f9;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;
    line-height: 80px;
    font-weight: bold;
}
.timeline2-content {
    background-color: white;
    padding: 10px;
    margin-left: 180px;
    border-radius: 6px;
    width: calc(100% - 80px);
}
.timeline2-content img {
    float: left;
    margin-right: 30px;
    width: 30%;
    height: auto;
}
