.wb_news .card-icon {
  max-width: 100px;
}

.wb_news-light {
  color: #fff
}

.wb_news .card {
  background-size: cover;
  background-position: center;
  min-height: 350px;
}

.wb_news .card-footer {
    border: none;
    background: none;
}

.wb_news .masonry {
  column-count: 4;
  column-gap: 1rem;
}
.wb_news .masonry .card {
  display: inline-block;
  width: 100%;
  margin-bottom: 1rem;
}

.wb_news .carousel-control-prev,.wb_news .carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  border: 0;
  border-radius: 50%;
  opacity: 0.7;
  transition: opacity 0.15s ease;
}

.wb_news .carousel-control-prev:hover, .wb_news .carousel-control-next:hover {
  opacity: 1;
}

.wb_news .carousel-control-prev {
  left: 10px; /* Adjust the left position as needed */
}

.wb_news .carousel-control-next {
  right: 10px; /* Adjust the right position as needed */
}

.wb_news .wb_news-light {
  color: #fff;
}

.wb_news-userinfo {
  font-size: 0.82em;
}

.wb_news .carousel-inner {
  height: 100%;
}

.wb_news .left-panel {
  width: 50%;
  padding: 50px;
}

.wb_news .right-panel {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wb_news .image-container {
  position: relative;
}

.wb_news .image-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.wb_news .carousel-control-prev,
.wb_news .carousel-control-next {
  position: static !important;
}

.wb_news .carousel-control-prev-icon,
.wb_news .carousel-control-next-icon {
  background-color: #000;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.wb_news .carousel-control-prev-icon::before,
.wb_news .carousel-control-next-icon::before {
  display: none;
}


.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background-color: #e9f2f9;
  border-color: #e9f2f9;
  color: #004085;
}
.wb_news_tabcontainer, .section-content {
  padding: 2rem;
  border-radius: .25rem;
}
.section-content .btn-primary {
  background-color: #0056b3;
  border-color: #0056b3;
}
.wb_news_tabcontainer {
  position: relative;
  width: 100%;  /* Adjust the width as needed */
}

  .wb_news_tabcontainer .rounded-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #E9F0F3;
  border-radius: 20px;  /* Adjust the border radius as needed */
  z-index: -1;  /* Ensure the background is behind the content */
}

.wb_news_tabcontainer .wb_news_tabscontent {
  position: relative;
  z-index: 1;  /* Ensure the content is above the background */
  padding: 40px 20px;  /* Optional: Add padding for better spacing */
}

.nav-tabs.wb_news .nav-item {
  list-style: none;
}

.wb_news.nav-tabs {
  justify-content: center;
  width: fit-content;
  margin: auto;
  border-radius: 5px;
  padding: 3px;
  background: #E9F0F3;
  border-bottom: none;

}
.wb_news.nav-tabs .nav-link {
  margin-bottom: 1px;
  border-radius: 5px;
  color: #547086;
  font-weight: 600;
}

.wb_news .card img.wb_news-headerimage {
  border-radius: 0px;
}
.wb_news.card-body {
  padding: 20px;
}
.wb_news.nav-tabs .nav-link.active {
  background: #fff;
  color: #005C99;
}
@media (min-width: 981px) {
  .wb_news_tabcontainer .rounded-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    background: #E9F0F3;
    border-radius: 20px;  /* Adjust the border radius as needed */
    z-index: -1;  /* Ensure the background is behind the content */
  }

  .wb_news_tabcontainer .wb_news_tabscontent {
    position: relative;
    z-index: 1;  /* Ensure the content is above the background */
    padding: 40px 20px;  /* Optional: Add padding for better spacing */
  }

  .nav-tabs.wb_news .nav-item {
    list-style: none;
  }

  .wb_news.nav-tabs {
    justify-content: center;
    width: fit-content;
    margin: auto;
    border-radius: 5px;
    padding: 3px;
    background: #E9F0F3;
    border-bottom: none;

  }
  .wb_news.nav-tabs .nav-link {
    margin-bottom: 1px;
    border-radius: 5px;
    color: #547086;
    font-weight: 600;
  }
  .wb_news.nav-tabs .nav-link.active {
    background: #fff;
    color: #005C99;
  }
}

.wb_news .profileimg {
  max-width: 30px;
  max-height: 30px;

}

.wb_news .card-square {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.wb_news .card-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}
.wb_news .card-img-top {
  height: 60%;
  width: 100%;
  object-fit: cover;
}
.wb_news .card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wb-news-container {
  max-width: 100vw;
}

.wb_news .card .card-body {
  padding: 1.25rem;
}

@media (max-width: 767.98px) {
  .wb_news .card .card-body {
      padding: 0.625rem;
  }
}

.wb_news_card_blog .card-body {
  display: block;
  flex-direction: column;
  justify-content: center;
  overflow-y: scroll;
}

/* Slider. */

.wb_news_slide .image-container img {
  border-bottom-left-radius: 15px;
}
