<style>
body {
    background-color: #333;
}

.carousel-inner {
    height: 100%;
}

.left-panel {
    width: 50%;
    padding: 50px;
}

.right-panel {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    position: relative;
}

.image-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.carousel-control-prev,
.carousel-control-next {
    position: static !important;
}
.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.carousel-control-prev-icon::before,
.carousel-control-next-icon::before {
    display: none;
}

</style>

    <div class="d-flex justify-content-between align-items-center">
        <div class="left-panel{{#lightmode}} text-light{{/lightmode}}">
            <h5 class="text-info">{{tags}}</h5>
            <h1>{{headline}}</h1>
            {{{description}}}
            <div class="row mt-4 justify-content-center">
            <a class="carousel-control-prev mt-4 mr-2" href="#wb_news_carousel-{{instanceid}}" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next mt-4 ml-2" href="#wb_news_carousel-{{instanceid}}" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
            </div>
            {{#editmode}}
            {{> local_wb_news/editsinglenews}}
            {{/editmode}}
        </div>
        <div class="right-panel">
            <div class="image-container  w-100">
                <img src="{{bgimage}}" class="img-fluid w-100" alt="...">
                <div class="image-caption">{{imagecaption}}</div>
            </div>
        </div>
    </div>

