{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_wb_news/wb_news_bgimage

    Classes required for JS:
    * none

    Example context (json):
    {
        "id": "news Grid 1",
        "news": [
            {
                "id": "news1",
                "bgimage": "/local/wb_news/img/wb.jpg",
                "icon": "/local/wb_news/img/icon.png",
                "headline": "News 1",
                "subheadline": "Image and Icon",
                "description": "Image and Icon",
                "btnlink": "https://link1.com",
                "btntext": "Read More",
                "headerimage": 1
            }
        ]
    }
}}

<div class="wb-news-container mt-5 wb_news" style="" data-id="{{id}}">
    {{#editmode}}
        {{> local_wb_news/edit}}
    {{/editmode}}
    {{#news}}
    <div class="d-block position-relative" style="{{#additionaldata.height}} min-height:{{.}}px {{/additionaldata.height}}">
        <span class="bg-imageslider" style="background-image: url({{headerimage}});    width: 50%;
    position: absolute;
    height: 100%;
    background-size: cover;
    background-position: center;
    {{#additionaldata.right}}right: 0;{{/additionaldata.right}}
    {{#additionaldata.left}}left: 0;{{/additionaldata.left}}
    {{#additionaldata.right}}border-radius: 90px 0 0 90px;{{/additionaldata.right}}
    {{#additionaldata.left}}border-radius: 0px 90px 90px 0px;{{/additionaldata.left}}
    bottom: 0;
    background-repeat: no-repeat;"></span>
        <div class="container-xl">
            	<div class="col-md-12 row m-auto {{#additionaldata.left}}flex-row-reverse{{/additionaldata.left}} p-4">
                <div class="col-md-6
                no-gutter p-4 d-flex flex-column p-3">
                    {{#headline}}
                    <div class="row">
                        <div class="col-md-10 m-auto">
                            <h1 class="font-weight-light">{{.}}</h1>
                        </div>
                    </div>
                    {{/headline}}
                    {{#subheadline}}
                    <div class="row">
                        <div class="col-md-10 m-auto">
                            <h2  class="font-weight-light" >{{.}}</h2>
                        </div>
                    </div>
                    {{/subheadline}}
                    {{#shortdescription}}
                    <div class="row">
                        <div class="col-md-10 m-auto">
                            <p  class="font-weight-light">{{.}}</p>
                        </div>
                    </div>
                    {{/shortdescription}}
                         {{#btntext}}
                        <div class="row mt-3">
                            <div class="col-md-10 m-auto">
                                <a class="btn btn-primary btn-lg" role="button" href="{{btnlink}}">{{btntext}}
                                    <i class="fa-solid fa-arrow-right ml-2"></i>
                                </a>
                            </div>
                        </div>
                            {{/btntext}}
                </div>
    {{#editmode}}
    {{> local_wb_news/editsinglenews}}
    {{/editmode}}
	</div>

        </div>
    </div>
    {{/news}}
</div>
