
<style>

    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        background-color: #e9f2f9;
        border-color: #e9f2f9;
        color: #004085;
    }
    .wb_news_tabcontainer, .section-content {
        padding: 2rem;
        border-radius: .25rem;
    }
    .section-content .btn-primary {
        background-color: #0056b3;
        border-color: #0056b3;
    }
    .wb_news_tabcontainer {
        position: relative;
        width: 100%;  /* Adjust the width as needed */
    }

        .wb_news_tabcontainer .rounded-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #E9F0F3;
        border-radius: 20px;  /* Adjust the border radius as needed */
        z-index: -1;  /* Ensure the background is behind the content */
    }

    .wb_news_tabcontainer .wb_news_tabscontent {
        position: relative;
        z-index: 1;  /* Ensure the content is above the background */
        padding: 40px 20px;  /* Optional: Add padding for better spacing */
    }

    .nav-tabs.wb_news .nav-item {
        list-style: none;
    }

    .wb_news.nav-tabs {
        justify-content: center;
        width: fit-content;
        margin: auto;
        border-radius: 5px;
        padding: 3px;
        background: #E9F0F3;
        border-bottom: none;

    }
    .wb_news.nav-tabs .nav-link {
        margin-bottom: 1px;
        border-radius: 5px;
        color: #547086;
        font-weight: 600;
    }
    .wb_news.nav-tabs .nav-link.active {
        background: #fff;
        color: #005C99;
    }
    @media (min-width: 981px) {
    .wb_news_tabcontainer .rounded-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 90%;
        height: 100%;
        background: #E9F0F3;
        border-radius: 20px;  /* Adjust the border radius as needed */
        z-index: -1;  /* Ensure the background is behind the content */
    }

    .wb_news_tabcontainer .wb_news_tabscontent {
        position: relative;
        z-index: 1;  /* Ensure the content is above the background */
        padding: 40px 20px;  /* Optional: Add padding for better spacing */
    }

    .nav-tabs.wb_news .nav-item {
        list-style: none;
    }

    .wb_news.nav-tabs {
        justify-content: center;
        width: fit-content;
        margin: auto;
        border-radius: 5px;
        padding: 3px;
        background: #E9F0F3;
        border-bottom: none;

    }
    .wb_news.nav-tabs .nav-link {
        margin-bottom: 1px;
        border-radius: 5px;
        color: #547086;
        font-weight: 600;
    }
    .wb_news.nav-tabs .nav-link.active {
        background: #fff;
        color: #005C99;
    }
}

</style>


<div class="container wb_news_tabcontainer">
    {{^btntext}}
    {{#btnlink}}<a href="{{btnlink}}" class="stretched-link"></a> {{/btnlink}}
    {{/btntext}}
    <div class="wb_news_tabscontent">
        <div class="rounded-background"></div>
        <div class="row my-4 p-4">
            <div class="col-lg-6">
                {{#icon}}
                <div class="text-left">
                    <img src="{{icon}}" class="card-icon mb-2 text-center" alt="Icon">
                </div>
                {{/icon}}
                <h3>{{headline}}</h3>
                <p>
                    {{{description}}}
                </p>
                {{#btntext}}
                    <a href="{{btnlink}}" class="btn btn-primary mt-auto">{{btntext}}</a>
                {{/btntext}}
            </div>
            <div class="col-lg-6">
            {{#bgimage}}
                <img src="{{bgimage}}" class="img-fluid w-100" alt="Mentoring Program">
            {{/bgimage}}
            </div>
        </div>
    </div>
</div>
