<div class="card course-card mx-1 mb-2 h-100" role="listitem" data-region="course-content" data-category="{{coursecategory}}">
    <div class="position-relative">
    <a href="{{viewurl}}" tabindex="-1">
        <div class="card-img-top" style="background-image: url('{{courseimage}}')">
            <span class="sr-only">{{fullname}}</span>
        </div>
        <div class="course-card-name bg-primary text-white">{{fullname}}</div>
    </a>
    <span class="sr-only">
        {{fullname}}
    </span>
    </div>
    <div class="card-body course-info-container px-3" id="course-info-container-9">
        <a href="{{viewurl}}" tabindex="-1" class="gotobutton btn btn-primary me-2">
        {{#str}} tocourse, local_wb_news {{/str}}               
        </a>
        <button class="popupbutton btn btn-primary" data-action="courselisting-details" data-title="Course Company A.2">
            Details
        </button>
    </div>
</div>
